<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../Frontend/app/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
</head>

<body>
    <div class="h-screen w-full bg-[#14131A] text-white">
        <div class="flex flex-col justify-start items-center h-full">
            <h1 class="text-3xl uppercase my-5">✨All Links✨</h1>
            <div class="h-[70vh] w-full flex justify-center items-center gap-60">
                <ul class="font-medium text-2xl uppercase space-y-4 text-center flex-col flex">
                    <h1 class="select-none cursor-default">🎊 Top Projects links 🎊</h1>
                    <a class="text-blue-500 cursor-pointer" href="/topProjects">Get All data </a>
                    <a class="text-blue-500 cursor-pointer" href="/topProjects/deleteAll">Delete All data </a>
                </ul>
                <ul class="font-medium text-2xl uppercase space-y-4 text-center flex-col flex">
                    <h1 class="select-none cursor-default">🎊 More Projects links 🎊</h1>
                    <a class="text-blue-500 cursor-pointer" href="/moreProjects">Get All data</a>
                    <a class="text-blue-500 cursor-pointer" href="/moreProjects/deleteAll">Delete All data</a>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>